@import "bootstrap";
@import "font-awesome-sprockets";
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.caption {
    display: block;
}
.box-fill {
  margin: 5px 2% 5px 2%;
}

#avatar {
  border-radius: 25%;
  max-width: 300px

}
.photopreview {
  text-align: center;
  border-radius: 8px;
  object-fit: 'contain';
  max-width: 300px;
  max-height: 225px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
.clear {
  clear:both;
}
#map {
  height: 300px;
}
.carousel-inner{
  text-align: center;
}
.carousel-inner > .item > img{
  display: block;
  margin: 0 auto;
  width: 50%;
}
.caro {
  max-height: 250px;
  width: auto;
}
.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
} 

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background: image-url('vintage-leaves.png');
      font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}

.navbar {
    background: image_url('zigzag.png');
    box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-dark .navbar-brand {
    color: #0F8397;
    font-family: 'Josefin Sans', sans-serif;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}